:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*
 * 1. Typography
 */

html {
  /* 62.5% of 16px = 10px */
  /* Makes it easier to select rem-based font size */
  /* e.g. 1rem = 1 x body font-size = 10px */
  /* so for a 70px font, use 7rem = 7 * 10 = 70px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);

  /* TODO: REMOVE ME (using for UI testing */
  height: 3000px;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  /* Note: Inter font has built-in space around chars, so must
     set bottom margin lower than 2rem */
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/*
 * 2. Links
 */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;

  &::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
  }

  &:hover::after {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/*
 * 3. Badges
 */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/*
 * 4. Lists
 */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;

  & .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/*
 * 5. Icons
 */

/* Note: Icons use px since they don't change from desktop->mobile */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/*
 * 6. Buttons
 */

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 3rem;
  margin: 1rem 0;
  border-radius: 40px;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
}

.btn--primary {
  background-color: var(--color-headings);
  color: #fff;

  &:hover {
    filter: brightness(0.8);
  }
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;

  &:hover {
    filter: brightness(0.9);
  }
}
.btn--accent {
  background-color: var(--color-accent);
  color: #fff;

  &:hover {
    filter: brightness(0.9);
  }
}
.btn--outline {
  background-color: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);

  &:hover {
    background-color: var(--color-headings);
    color: #fff;
  }
}
.btn--block {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/*
 * 7. Inputs
 */
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;

  & .input {
    border: 0;
    flex-grow: 1;

    &:nth-child(2) {
      padding: 1.5rem 1rem;
    }
  }

  & .btn {
    margin: 4px;
  }
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/*
 * 8. Cards
 */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden; /* stop child overflow from covering round corners*/
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary {
  .card__header {
    background-color: var(--color-secondary);
    color: #fff;
  }

  .badge--secondary {
    background-color: #02cdf1;
  }
}

/*
 * 9. Plan Component
 */
.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan {
  .list__item {
    margin-bottom: 2rem;
    letter-spacing: 1px;
  }

  .list {
    margin-bottom: 5rem;
  }
}

.plan--popular {
  .card__header {
    position: relative;

    &::before {
      content: url(../images/popular.svg);
      width: 40px;
      display: inline-block;
      position: absolute;
      top: -6px;
      right: 5%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/*
 * 10. Media Component
 */

.media {
  display: flex;

  .media__title {
    margin-top: 0;
  }
}

.media__image {
  margin-top: 1rem;
}

.media__body {
  margin: 0 2rem;
}
