:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 40px;
  --icon-width: 64px;
  --icon-height: 64px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*
 * Typography
 */

::selection {
  background-color: var(--color-primary);
  color: #fff;
}

html {
  /* 62.5% of 16px = 10px */
  /* Makes it easier to select rem-based font size */
  /* e.g. 1rem = 1 x body font-size = 10px */
  /* so for a 70px font, use 7rem = 7 * 10 = 70px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);

  /* TODO: REMOVE ME (using for UI testing */
  height: 3000px;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  /* Note: Inter font has built-in space around chars, so must
     set bottom margin lower than 2rem */
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/*
 * Links
 */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;

  &::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
  }

  &:hover::after {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/*
 * Badges
 */

.badge {
  border-radius: var(--border-radius);
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/*
 * Lists
 */

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-headings);

  & .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/*
 * Icons
 */

/* Note: Icons use px since they don't change from desktop->mobile */

.icon {
  width: var(--icon-width);
  height: var(--icon-width);
}

.icon--medium-regular {
  width: calc(var(--icon-width) / 1.7);
  height: calc(var(--icon-height) / 1.7);
}

.icon--medium {
  width: calc(var(--icon-width) / 1.5);
  height: calc(var(--icon-height) / 1.5);
}

.icon--small {
  width: calc(var(--icon-width) / 2);
  height: calc(var(--icon-height) / 2);
}

.icon--xsmall {
  width: calc(var(--icon-width) / 2.8);
  height: calc(var(--icon-height) / 2.8);
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

.icon-container {
  background-color: #f3f9fa;
  width: var(--icon-height);
  height: var(--icon-width);
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: var(--color-accent);
}

/*
 * Buttons
 */

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 4vw;
  margin: 1rem 0;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  text-align: center;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;

  &:hover {
    filter: brightness(0.8);
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    padding: 2rem 2vw;
  }
}

.btn--primary {
  background-color: var(--color-headings);
  color: #fff;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--outline {
  background-color: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);

  &:hover {
    background-color: var(--color-headings);
    color: #fff;
  }
}

.btn--block {
  width: 100%;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/*
 * Inputs
 */
.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;

  .input {
    border: 0;
    flex-grow: 1;
    padding: 2rem 4rem;
    width: 0;
    &:nth-child(2) {
      padding: 1.5rem 1rem;
    }
  }

  & .btn {
    margin: 4px;
  }
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/*
 * Cards
 */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden; /* stop child overflow from covering round corners*/
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;

  .badge--primary {
    background-color: #126de4;
  }
}

.card--secondary {
  .card__header {
    background-color: var(--color-secondary);
    color: #fff;
  }

  .badge--secondary {
    background-color: #02cdf1;
  }
}

/*
 * Plan Component
 */

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan {
  transition: transform 0.2s ease-out;

  .list__item {
    margin-bottom: 2rem;
    letter-spacing: 1px;
  }

  .list {
    margin-bottom: 5rem;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.plan--popular {
  .card__header {
    position: relative;

    &::before {
      content: url(../images/popular.svg);
      width: 40px;
      display: inline-block;
      position: absolute;
      top: -6px;
      right: 5%;
    }
  }

  &:hover {
    transform: scale(1.15);
  }
}

@media screen and (min-width: 768px) {
  .plan--popular {
    .card__header {
      padding: 5rem 2rem;
    }
  }

  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/*
 * Media Component
 */

.media {
  display: flex;

  .media__title {
    margin-top: 0;
  }
}

.media__image {
  margin-top: 1rem;
}

.media__body {
  margin: 0 2rem;
}

/*
 * Quotes
 */

.quote {
  color: var(--color-body-darker);
  font-size: 3rem;
  font-style: italic;
  line-height: 1.3;
  margin-left: 0;
  margin-right: 0;
}

.quote__author {
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.quote__company {
  color: var(--color-headings);
  font-size: 2rem;
  font-style: normal;
  opacity: 0.4;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

.quote__text {
  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__company {
    font-size: 1.6rem;
  }
}

/*
 * Grid
 */
.grid {
  display: grid;
}

/* Tablets */
@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* laptops+ */
@media screen and (min-width: 1024px) {
  .grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*
 * Testimonials
 */
.testimonial {
  padding: 6rem;
}

.testimonial__image {
  position: relative;
  > img {
    /* Make image responsive */
    width: 100%;
  }
  > .icon-container {
    position: absolute;
    top: 3rem;

    /* position icon center on right border  */
    /* e.g., 64px / 2 - 64px = -32px */
    right: calc(var(--icon-width) / 2 - var(--icon-width));
  }
}

/* Tablets */
@media screen and (min-width: 768px) {
  .testimonial {
    padding: 3rem;
    .quote {
      margin-left: 6rem;
      margin-top: 6rem;
    }

    .quote__text {
      margin-bottom: 4rem;
    }

    .quote,
    .quote__author {
      font-size: 2rem;
    }

    .quote__company {
      font-size: 1.3rem;
    }
  }
}

/*
 * Callouts
 */

.callout {
  padding: 4rem;
  border-radius: 15px;

  .btn {
    justify-self: center;
    align-self: center;
  }
}

.callout--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.callout__content {
  text-align: center;
  margin: 2rem 0;
  & p {
    margin-bottom: 0;
    font-size: 2.4rem;
  }
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-size: 4rem;
}

@media screen and (min-width: 768px) {
  .callout {
    padding: 3rem 4rem;

    .btn {
      font-size: 1.5rem;
      margin: 0 2rem;
    }

    .grid--cols-2 {
      grid-template-columns: 1fr auto;
    }
  }

  .callout__content {
    text-align: left;
    & p {
      font-size: 2rem;
    }
  }
}

/*
 * Collapsible
 */

.collapsible__header {
  display: flex;
  justify-content: space-between;

  & h2 {
    margin-top: 0;
  }
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.15s linear;
  cursor: pointer;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.15s linear, opacity 0.15s linear;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/*
 * Blocks
 */

.block {
  --padding-vertial: 5rem;
  padding: var(--padding-vertial) 2rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background-color: #000;
  color: #7b858b;

  & h1,
  h2,
  h3 {
    color: #fff;
  }
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertial) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 91%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertial) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

/*
 * Navbar
 */

.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;

  &.collapsible--expanded {
    .nav__toggler {
      opacity: 1;
      box-shadow: 0 0 0 3px #666;
      border-radius: 5px;
    }
  }
}

.nav__toggler {
  opacity: 0.5;
  transition: opacity 0.1s linear, box-shadow 0.1s linear;
  cursor: pointer;
}

.nav__list {
  /* Setting this to 100% width will always cause it to wrap 
     due to parent container flex-wrap: wrap */
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #222;
  & > a {
    color: #d2d0db;
    transition: color 0.1s linear;
    &:hover {
      color: #fff;
    }
  }
}

.nav__brand {
  /* Bit of a hack to center, but unfortunately the image had built-in bottom padding */
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    border: 0;
  }
}

/*
 * Hero
 */

.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.hero__image {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .block {
    padding-top: 0;
  }

  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/*
 * Domain block
 */

.domains__search-btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
}

.block-domain {
  max-width: 700px;
  .input-group {
    box-shadow: -10px 10px 30px 20px #e6ebee;
    border: 0;
    margin: 4rem auto;
    text-align: center;
    max-width: 670px;
  }
}

.block-domain__prices {
  color: var(--color-headings);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 6rem);
  font-size: 2rem;
  font-weight: 600;
  justify-items: center;
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    font-size: 1.8rem;
  }
  .badge {
    font-size: 1.8rem;
  }
}

/*
 * Plans block
 */

.block-plans {
  .grid {
    gap: 8rem 4rem;
  }

  .card {
    max-width: 500px;
    margin: 0 auto;
  }
}

/*
 * Features block
 */

.feature__heading {
  margin: 1rem 0;
  font-weight: 600;
}

.feature__content {
  padding: 0 2rem;

  .icon__container {
    width: 70px;
    height: 70px;
  }
}

.feature {
  margin: 12rem 0;
  gap: 4rem 2rem;

  &:first-of-type {
    margin-top: 6rem;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.feature__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/*
 * Showcase block
 */

.block-showcase {
  padding-top: 8rem;
}

.showcase__heading {
  text-align: center;
  margin-top: 0;
  margin-bottom: 3rem;
}

.block-showcase__image {
  margin-bottom: 3rem;

  & > img {
    width: 100%;
  }
}

.showcase__content {
  margin-bottom: 10rem;
  .media__title {
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 2.4rem;
  }

  .media__image {
    margin: 0;
  }

  .media {
    margin-bottom: 6rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .media__body {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
    align-items: center;
  }
  .block-showcase__image {
    justify-self: end;

    & > img {
      width: auto;
      max-width: 700px;
    }
  }
  .showcase__content {
    margin-bottom: 0;
    padding: 0 1rem;

    .media__title {
      color: #fff;
      font-size: 1.8rem;
    }

    .media {
      margin-bottom: 2rem;
    }

    .media__body {
      & p {
        font-size: 1.8rem;
      }
    }
  }
}

/*
 * Footer block
 */
.footer {
  background-color: #232323;
}

.footer__heading {
  font-weight: 600;
  text-transform: uppercase;
}

.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
  .list__item a {
    color: #777;
    transition: color 0.3s;
  }
}

.footer__brand {
  text-align: center;
  margin-top: 7rem;

  & img {
    /* TODO: Consider applying this to all images */
    width: 100%;
    max-width: 230px;
  }
}

.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}

.footer__section-list {
  margin: 0;

  & li > a:hover {
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    .collapsible__chevron {
      display: none;
    }

    .collapsible__content {
      opacity: 1;
      max-height: 100vh;
    }
  }

  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }

  .footer__copyright {
    font-size: 1.5rem;
  }

  .footer__heading {
    font-size: 1.6rem;
    margin: 0;
  }

  .footer__section {
    border: 0;
  }

  .footer__section-list {
    font-size: 1.5rem;

    .list__item {
      margin: 2rem 0;
    }
  }
}
